<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/0.6.0/modern-normalize.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" rel="stylesheet" type="text/css" />
    <style>
      tbody tr:nth-child(odd) td,
      tbody tr:nth-child(odd) th {
          background: #f5f5f5;
      }
      @media (min-width: 750px) {
        tbody tr td {
          white-space: nowrap;
        }
        tbody tr td:first-child {
          white-space: normal;
          width: 100%
        }
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <h1>Index of {{ cwd }}</h1>
        </div>
      </div>
      <div class="row">
        <table class="u-full-width">
          <thead>
          <tr>
            <th >Name</th>
            <th>Last Modified</th>
            <th >Size</th>
          </tr>
          </thead>
          <tbody>
            {% for file in files %}
            <tr>
              <td><a href="{{file.filepath}}">{{file.icon}}&nbsp;{{ file.filename }}</a></td>
              <td>{{ file.mtime }}</td>
              <td><abbr title="{{ file.size }} bytes">{{ file.hsize }}</abbr></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>